<div class="container mt-4">
  <h1>글 작성 페이지</h1>

  <form method="post" action="/write">
    <div class="form-group">
      <label for="postTitle">제목</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="postTitle"
        placeholder="제목을 입력하세요"
        required
      />
    </div>
    <div class="form-group">
      <label for="postAuthor">작성자</label>
      <input
        type="text"
        name="writer"
        class="form-control"
        id="postAuthor"
        placeholder="작성자를 입력하세요"
        required
      />
    </div>
    <div class="form-group">
      <label for="postPassword">비밀번호</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="postPassword"
        placeholder="비밀번호를 입력하세요"
        required
      />
    </div>
    <div class="form-group">
      <label for="postContent">내용</label>
      <textarea
        class="form-control"
        name="content"
        id="postContent"
        rows="5"
        placeholder="내용을 입력하세요"
        required
      ></textarea>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">저장</button>
      <button
        type="button"
        class="btn btn-primary"
        onclick="location.href='/'"
      >취소</button>
    </div>

  </form>
</div>